@if (showForm) {
    <button class="font-semibold bg-gray-300 hover:bg-gray-400 hover:cursor-pointer px-3 py-2 transition-all duration-300 ease-in-out"
    (click)="toggleForm()">
    Close form
    </button>

    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="space-y-4 max-w-sm my-4">

    <fieldset>
        <label for="newTitle">Title</label>
        <input type="text" id="newTitle" formControlName="title" required
        class="border border-gray-300 focus:outline-none focus:border-b-2 focus:border-b-cyan-300 px-3 py-2 w-full"
        title="Title required">
        @if ( title?.invalid && title?.touched) {
            <div class="text-rose-400">Add a title to your task</div>
        }
    </fieldset>

    <fieldset>
        <label for="newDescription">Description</label>
        <textarea id="newDescription" formControlName="description"
        class="border border-gray-300 focus:outline-none focus:border-b-2 focus:border-b-cyan-300 px-3 py-2 w-full"></textarea>
    </fieldset>

    <fieldset>
        <label for="newDeadline">Deadline</label>
        <input type="date" id="newDeadline" formControlName="deadline" required
        class="border border-gray-300 focus:outline-none focus:border-b-2 focus:border-b-cyan-300 px-3 py-2 w-full"
        title="Deadline required">
        @if ( deadline?.invalid && deadline?.touched) {
            <div class="text-rose-400">Add a deadline to your task</div>
        }
    </fieldset>

    <fieldset>
        <label for="newPriority">Priority</label>
        <select id="newPriority" formControlName="priority" required
        class="border border-gray-300 focus:outline-none focus:border-b-2 focus:border-b-cyan-300 px-3 py-2 w-full"
        title="Priority required">
            <option value="medium" selected>Medium</option>
            <option value="high">High</option>
            <option value="urgent">Urgent</option>
        </select>
    </fieldset>

    <fieldset>
        <label for="newStatus">Status</label>
        <select id="newStatus" formControlName="status" required
        class="border border-gray-300 focus:outline-none focus:border-b-2 focus:border-b-cyan-300 px-3 py-2 w-full"
        title="Status required">
            <option value="pending" selected>Pending</option>
            <option value="in-progress">In-progress</option>
            <option value="done">Done</option>
        </select>
    </fieldset>

    <button type="submit" class="font-semibold bg-cyan-300 hover:bg-cyan-400 hover:cursor-pointer px-3 py-2 transition-all duration-300 ease-in-out">
        Add
    </button>
    </form>
}

@else {
    <button class="font-semibold bg-cyan-300 hover:bg-cyan-400 hover:cursor-pointer px-3 py-2 transition-all duration-300 ease-in-out"
    (click)="toggleForm()">
    New Task
    </button> 
}

